$breakpoints: (
  xxs: 321px,
  xs: 586px,
  sm: 768px,
  md: 884px,
  lg: 1200px
);

@mixin respond-below($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

.main-container {
  max-width: 876px;
  min-width: 580px;
  margin: auto;
  @include respond-below(xs) {
    min-width: 300px;
    max-width: 100%;
  }
  @include respond-below(md) {
    margin: auto 4px;
  }
}

.input-container {
  display: flex;
  justify-content: space-between;
  min-width: 576px;
  max-width: 1600px;
  flex-wrap: nowrap;
  @include respond-below(xs) {
    min-width: 300px;
  }
  @include respond-below(xs) {
    flex-wrap: wrap;
  }
}

.table {
  margin-top: 3px;
}

.input-container .input-box-container {
  width: 100%;
  min-width: 150px;
}

.input-container input {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;

  .button-control {
    width: 100px;
    margin: 0px 4px 0px 0px;
  }
  .button-icon {
    width: 40px;
    margin: 0px 4px 0px 0px;
  }
  button:first-child {
    margin-left: 4px;
  }
  button:last-child {
    margin-right: 0px;
  }
  @include respond-below(xs) {
    margin-top: 3px;
    width: 100%;
    button {
      width: 100px;
    }
    button:first-child {
      margin-left: 0px;
    }
    button:last-child {
      margin-right: 0px;
    }
  }
}
